<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>

  <link rel="stylesheet" type="text/css" href="css/style.css"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#eid").blur(function(){
        var empid=$("#eid").val();
        var data1="eid="+empid;
              //alert(data1);
        //AJAX Code
        $.ajax({
            url:'checkExistance',
            data:data1,
            type:'get',
            success:function(response)
            {
              if(response.msg=="Already Exist")
              $("#eid").val("");
              $("#msg").html(response.msg);
            }
        }); //AJAX end
      });//blur function end
    });//ready function end
  </script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">EmpData</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      {{#if user}}
      <ul class="nav navbar-nav">
        <li><a href="homeemp">Home</a></li>
        <li><a href="createemp">Insert Emp</a></li>
        <li><a href="Viewemp">ViewEmps</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#">Welcome {{user}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>


      {{/if}}
      <ul class="nav navbar-nav">
        <li><a href="view">ViewEmps</a></li>
      </ul>
      

    </div>
  </div>
</nav>

<div class="container">
<h2>Insert-Record-Form</h2>

{{#if msg}}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong>
</div>
{{/if}}

  <form action="EmpInsert" method="POST" >
    <div class="form-group">
      <label>Id</label>
      <input type="number" class="form-control" id="eid" placeholder="Enter Your Id" name="eid">
      <div id="msg"></div>
    </div>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="ename">
    </div>

    <div class="form-group">
      <label>salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Enter Your salary" name="salary">
    </div>
    <input type="submit" class="btn btn-primary" value="Insert">
  </form>
</div>

</body>
</html>
